body{
	background-color: #121212;
}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}

#headline{
/*	font-size: 10.0rem; 
	line-height: 1.2;  
	letter-spacing: -.1rem;*/
	/*font-size: 200%;*/
	font-size: 8.0rem;
}

.liveTag{
	font-weight: 300;
	font-style: italic;
	font-size: 1.2rem;
	vertical-align: .5rem;
	visibility: hidden;
}

.videoInsert {
    width: 100%    !important;
	height: auto   !important;
}

video::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}